*~

# Files created by sentry
*sentry*

# Build artifacts and dependencies
/lib/
/bin/
/.shards/

# Crystal generated docs
/docs/
# The myst executable
/myst
# DWARF file from compiling on macOS
/myst.dwarf
